@mixin paddings ($left, $right, $top, $bottom){
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
    padding-bottom: $bottom ;
}

@mixin margin ($left, $right, $top, $bottom){
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom ;
}

.navbar{
background-color: $thumbnail-bg;
img{
    max-width: 190px;
    max-height: 70px;
}

}

.Zindex{
    position: relative;
    z-index: 10;
    left: -3rem;
    top: 4.5rem;
}

.entrada{
    @include margin (8%, 0%, 3%, 0%);
    @include paddings (2%, 0%, 0%, 0%);
    gap:10px;
    background-color: $myBgColorLight2;
    
    display: grid;
    width: 80% ;
    height: 10%;
    grid-template-areas: "img letra";
    grid-template-columns: 55% 45%;
    justify-content: center;
    
    figure{
        grid-area: img;
        padding-top: 2%;
        
       
    }
    div{
        grid-area: letra;
        text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: $myBgColorLight;
       
    }
}

main .container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
}
