//definicion de variables
$myPrimary: blue;
$mysecundary: red ;
$myinfo: green ;
$mydark: yellow ;

$myBgColorLight: rgb(140, 240, 173);


$myBgColorLight2: rgb(151, 151, 223);

$boxshadow: 4px 3px 6px 0px grey;