@mixin paddings ($left, $right, $top, $bottom){
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
    padding-bottom: $bottom ;
}

@mixin margin ($left, $right, $top, $bottom){
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom ;
}

.navbar{
background-color: $thumbnail-bg;
img{
    max-width: 190px;
    max-height: 70px;
}

}



main .container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
}
